<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCare</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta http-equiv="refresh" content="0; url=/login">
</head>
<body>

<header>
    <h1 class="titulo">BIENVENIDOS A PETCARE</h1>
</header>

<section>
    <p>Sistema de gestión veterinaria</p>
    <a href="/login">Ir a Iniciar Sesión</a>
    <a href="/agregarMascota">Agregar Mascota</a>
</section>

</body>
</html>